<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MobileWebStore</display-name>
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/registerNewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginUser</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUser</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectTenant</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.SelectTenantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectTenant</servlet-name>
    <url-pattern>/selectTenant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showUserCart</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showUserCart</servlet-name>
    <url-pattern>/showUserCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logOutServlet</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logOutServlet</servlet-name>
    <url-pattern>/logoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homePage</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homePage</servlet-name>
    <url-pattern>/showMarketHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewPage</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.BookReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewPage</servlet-name>
    <url-pattern>/showReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccessoryPage</servlet-name>
    <servlet-class>com.cmpe281.project.servlet.AccessoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoryPage</servlet-name>
    <url-pattern>/showAccessory</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>